**/node_modules/**
**/dist/**
**/dist-types/**
**/storybook-static/**
**/coverage/**
**/build/**
**/.git/**
**/public/**
**/microsite/**
**/docs-ui/**
**/workspaces/**
**/templates/**
**/sample-templates/**
**/sample-test-plugin/**
playwright.config.ts
